In [1]:
import os
import pandas as pd

input_folder = 'C:/Users/Edward/Desktop/LOCALDATA_ALL_CSV/'
output_file = 'merged_and_filtered.csv'
columns_to_extract = [1, 5, 7, 8, 11, 12, 13, 26, 27]

merged_data = pd.DataFrame()

csv_files = [f for f in os.listdir(input_folder) if f.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(input_folder, csv_file)
    data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
    merged_data = pd.concat([merged_data, data], ignore_index=True)

# 2번 열에서 중복 값이 1개만 있는 행만 선택
merged_data = merged_data[~(merged_data.duplicated(subset=merged_data.columns[1], keep=False) & 
                           ~merged_data.duplicated(subset=merged_data.columns[1], keep='first'))]

merged_data.to_csv(output_file, encoding='utf-8', index=False)

print(f"모든 CSV 파일이 통합되어 '{output_file}'에 저장되었습니다.")

C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2204898206.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')

모든 CSV 파일이 통합되어 'merged_and_filtered.csv'에 저장되었습니다.

In [2]:
merged_file_path = 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/merged_and_filtered.csv'  # 통합된 CSV 파일의 경로

# CSV 파일을 읽어 DataFrame으로 로드
merged_df = pd.read_csv(merged_file_path)

# DataFrame의 처음 몇 개 행 출력
merged_df.info()

C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\2638055956.py:4: DtypeWarning: Columns (2,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged_file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222481 entries, 0 to 10222480
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     object
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      object
 5   휴업시작일자    object
 6   휴업종료일자    object
 7   좌표정보(x)   object
 8   좌표정보(y)   object
dtypes: object(9)
memory usage: 701.9+ MB

In [3]:
merged_data['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', ' ', '27',
       '공연장', '관광공연장업', '관광극장유흥업', '관광궤도업', '관광사업자', '관광유람선업', '국제회의시설업',
       '박물관, 미술관', '시내순환관광업', '유원시설업(기타)', '일반유원시설업', '전문휴양업', '전통사찰',
       'N', ' 부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다."',
       ' 고려 정종 원년(946년)에 선각대사가 삼창하고 "모옥사" 라 개칭 하였으며',
       ' 조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며', ' 예전에 이물을 바르고 백일',
       nan, ' 요사', ' 일본의 자료에 의하면 "대한제국때', '종합유원시설업', '종합휴양업', '지방문화원',
       '국제회의기획업', '대중문화예술기획업', '문화예술법인', ' 문체국 소관단체가 아님"', ' 고아원',
       ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       ' 2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것"', ' 교육기관의 설치경영 및 보조',
       '노래연습장업', '비디오물감상실업', '비디오물배급업', '비디오물소극장업', '비디오물시청제공업',
       '비디오물제작업', '관광숙박업', '관광펜션업', '숙박업', '외국인관광도시민박업', '자동차야영장업',
       '한옥체험업', '일반야영장업', '농어촌민박업', '국내여행업', '국내외여행업', '종합여행업', '영화배급업',
       '영화상영관', '영화상영업', '영화수입업', '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업',
       '음반.음악영상물제작업', '음반물배급업', '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업',
       '이용업', '세탁업', '의료기관세탁물처리업', '위탁급식영업', '집단급식소', '집단급식소식품판매업',
       '건강기능식품유통전문판매업', '건강기능식품일반판매업', '축산판매업', '축산가공업', '식육포장처리업',
       '식품냉동냉장업', '식품소분업', '식품운반업', '식품자동판매기업', '식품제조가공업', '식품첨가물제조업',
       '식품판매업(기타)', '옹기류제조업', '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업',
       '제과점영업', '즉석판매제조가공업', '집유업', '식용얼음판매업', '축산물보관업', '축산물운반업',
       '단란주점영업', '유흥주점영업', '관광식당', '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점',
       '휴게음식점', '대규모점포', '다단계판매업체', '방문판매업', '전화권유판매업', '통신판매업',
       '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업', '계량기수리업', '계량기수입업',
       '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업', '석유및석유대체연료판매업체', '석유판매업',
       '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체', '전력기술설계업체', '특정고압가스업',
       '지하수시공업체', '0', '지하수영향조사기관', '지하수정화업체', '가축분뇨 수집운반업',
       '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업', '건설폐기물처리업',
       '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체', '요양보호사교육기관',
       '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [4]:
merged_data['개방서비스명'].nunique()

211

In [5]:
del_df = merged_df[~merged_df.duplicated('개방서비스명', keep=False)]
del_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y)
917405,Funny 바둑이(퍼니 바둑이),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966014,27,0,0.0,0,NaN,NaN,NaN,NaN,NaN
999657,예전에 이물을 바르고 백일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999659,요사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999974,"부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다.""",반룡사,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000062,"고려 정종 원년(946년)에 선각대사가 삼창하고 ""모옥사"" 라 개칭 하였으며",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000065,조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며,명부전,"요사채 등의 건물이 남아 있다.""",N,백련사,NaN,NaN,NaN,NaN
1000122,"일본의 자료에 의하면 ""대한제국때",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1009639,고아원,NaN,사단법인 안디옥,NaN,NaN,NaN,NaN,NaN,NaN
1012315,"2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8970645,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
merged_df = merged_df[merged_df.duplicated('개방서비스명') | merged_df.duplicated('개방서비스명', keep=False)]
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,207545.431398,453474.58008
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...
10222476,유료직업소개소,2016-02-22,1,영업/정상,NaN,NaN,NaN,338747.413019,218826.366519
10222477,유료직업소개소,2020-09-24,1,영업/정상,NaN,NaN,NaN,346207.242079,267170.951212
10222478,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,356956.306291,260221.620511
10222479,유료직업소개소,2013-12-17,1,영업/정상,NaN,NaN,NaN,243005.406461,346313.472211
10222480,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN

In [7]:
merged_df['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', ' ', '공연장',
       '관광공연장업', '관광극장유흥업', '관광궤도업', '관광사업자', '관광유람선업', '국제회의시설업',
       '박물관, 미술관', '시내순환관광업', '유원시설업(기타)', '일반유원시설업', '전문휴양업', '전통사찰',
       'N', nan, '종합유원시설업', '종합휴양업', '지방문화원', '국제회의기획업', '대중문화예술기획업',
       '문화예술법인', ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       '노래연습장업', '비디오물감상실업', '비디오물배급업', '비디오물소극장업', '비디오물시청제공업',
       '비디오물제작업', '관광숙박업', '관광펜션업', '숙박업', '외국인관광도시민박업', '자동차야영장업',
       '한옥체험업', '일반야영장업', '농어촌민박업', '국내여행업', '국내외여행업', '종합여행업', '영화배급업',
       '영화상영관', '영화상영업', '영화수입업', '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업',
       '음반.음악영상물제작업', '음반물배급업', '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업',
       '이용업', '세탁업', '의료기관세탁물처리업', '위탁급식영업', '집단급식소', '집단급식소식품판매업',
       '건강기능식품유통전문판매업', '건강기능식품일반판매업', '축산판매업', '축산가공업', '식육포장처리업',
       '식품냉동냉장업', '식품소분업', '식품운반업', '식품자동판매기업', '식품제조가공업', '식품첨가물제조업',
       '식품판매업(기타)', '옹기류제조업', '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업',
       '제과점영업', '즉석판매제조가공업', '집유업', '식용얼음판매업', '축산물보관업', '축산물운반업',
       '단란주점영업', '유흥주점영업', '관광식당', '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점',
       '휴게음식점', '대규모점포', '다단계판매업체', '방문판매업', '전화권유판매업', '통신판매업',
       '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업', '계량기수리업', '계량기수입업',
       '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업', '석유및석유대체연료판매업체', '석유판매업',
       '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체', '전력기술설계업체', '특정고압가스업',
       '지하수시공업체', '지하수영향조사기관', '지하수정화업체', '가축분뇨 수집운반업',
       '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업', '건설폐기물처리업',
       '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '민방위대피시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체',
       '요양보호사교육기관', '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [8]:
threshold = 5  # 중복 개수의 임계값
counts = merged_df['개방서비스명'].value_counts()
values_to_keep = counts[counts <= threshold].index
df_filtered = merged_df[merged_df['개방서비스명'].isin(values_to_keep)]
df_filtered

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y)
966012,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966013,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010637,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010638,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012312,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012313,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
merged_df = merged_df.groupby('개방서비스명').filter(lambda x: len(x) > threshold)
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,207545.431398,453474.58008
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...
10222476,유료직업소개소,2016-02-22,1,영업/정상,NaN,NaN,NaN,338747.413019,218826.366519
10222477,유료직업소개소,2020-09-24,1,영업/정상,NaN,NaN,NaN,346207.242079,267170.951212
10222478,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,356956.306291,260221.620511
10222479,유료직업소개소,2013-12-17,1,영업/정상,NaN,NaN,NaN,243005.406461,346313.472211
10222480,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN

In [10]:
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

197
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' 'N' '종합유원시설업' '종합휴양업'
 '지방문화원' '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업'
 '비디오물소극장업' '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업'
 '자동차야영장업' '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업'
 '영화상영관' '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '민방위대피시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체'
 '요양보호사교육기관' '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [11]:
value_to_remove = 'N'
merged_df = merged_df[merged_df['개방서비스명'] != value_to_remove]
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

196
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' '종합유원시설업' '종합휴양업' '지방문화원'
 '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업' '비디오물소극장업'
 '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업' '자동차야영장업'
 '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업' '영화상영관'
 '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '민방위대피시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체'
 '요양보호사교육기관' '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [12]:
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,207545.431398,453474.58008
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...
10222476,유료직업소개소,2016-02-22,1,영업/정상,NaN,NaN,NaN,338747.413019,218826.366519
10222477,유료직업소개소,2020-09-24,1,영업/정상,NaN,NaN,NaN,346207.242079,267170.951212
10222478,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,356956.306291,260221.620511
10222479,유료직업소개소,2013-12-17,1,영업/정상,NaN,NaN,NaN,243005.406461,346313.472211
10222480,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN

In [13]:
merged_df.to_csv('C:/Users/Edward/Desktop/merged_license.csv', encoding='utf-8', index=False)

In [14]:
merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')
merged_df['폐업일자'] = pd.to_datetime(merged_df['폐업일자'], errors='coerce')
merged_df.info()

C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\47564785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 10222442 entries, 0 to 10222480
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     datetime64[ns]
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      datetime64[ns]
 5   휴업시작일자    object
 6   휴업종료일자    object
 7   좌표정보(x)   object
 8   좌표정보(y)   object
dtypes: datetime64[ns](2), object(7)
memory usage: 779.9+ MB

C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\47564785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['폐업일자'] = pd.to_datetime(merged_df['폐업일자'], errors='coerce')

In [15]:
merged_df['기준'] = 1

C:\Users\Edward\AppData\Local\Temp\ipykernel_8364\1606763235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['기준'] = 1

In [16]:
df_o = merged_df[merged_df['영업상태구분코드'] == 1]
df_c = merged_df[merged_df['영업상태구분코드'] == 3]
a = [1,3]
df_w = merged_df[~merged_df['영업상태구분코드'].isin(a)]
df_r = merged_df[merged_df['휴업시작일자'].notnull() & merged_df['폐업일자'].isnull()]

In [17]:
df_w

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y),기준
1844,병원,2007-06-08,4.0,취소/말소/만료/정지/중지,2020-06-05,NaN,NaN,163959.014909,316236.234026,1
1845,병원,2011-02-21,4.0,취소/말소/만료/정지/중지,2022-06-21,NaN,NaN,187458.013247,402973.650082,1
1846,병원,1981-11-13,4.0,취소/말소/만료/정지/중지,2015-05-29,NaN,NaN,NaN,NaN,1
1847,병원,2008-07-10,4.0,취소/말소/만료/정지/중지,2014-04-29,NaN,NaN,190817.205959,185309.997897,1
1848,병원,2007-07-03,4.0,취소/말소/만료/정지/중지,2017-02-15,NaN,NaN,190463.629687,184970.048838,1
...,...,...,...,...,...,...,...,...,...,...
10174399,유료직업소개소,2019-01-02,4,취소/말소/만료/정지/중지,2022-07-13,NaN,NaN,210268.023534,256157.437097,1
10174400,유료직업소개소,2018-12-20,4,취소/말소/만료/정지/중지,2019-05-30,NaN,NaN,213395.266626,364089.983008,1
10174401,유료직업소개소,2018-11-16,4,취소/말소/만료/정지/중지,2023-03-31,NaN,NaN,186229.048424,475487.258055,1
10174402,유료직업소개소,2021-05-04,4,취소/말소/만료/정지/중지,2022-07-07,NaN,NaN,138373.581371,129900.32617,1
10222470,유료직업소개소,2015-06-05,4,취소/말소/만료/정지/중지,NaT,NaN,NaN,346550.112068,264999.193861,1

In [18]:
df_r

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y),기준
3161,병원,2012-11-22,2.0,휴업,NaT,2023-08-30,2024-01-30,244001.530928,347582.032759,1
3162,병원,2008-04-14,2.0,휴업,NaT,2020-10-15,2030-10-15,251194.421742,311546.395897,1
3163,병원,2010-09-13,2.0,휴업,NaT,2022-01-24,2025-07-23,268371.57329,312614.549326,1
3164,병원,2010-05-07,2.0,휴업,NaT,2022-07-01,2024-06-30,223019.435125,308022.966751,1
3165,병원,2007-07-24,2.0,휴업,NaT,2022-10-17,2023-10-16,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
10170200,장례지도사 교육기관,2012-08-29,2,휴업,NaT,2016-02-01,2018-01-31,340613.346924,261038.505993,1
10170201,장례지도사 교육기관,2014-08-19,2,휴업,NaT,2015-10-15,2016-10-31,343886.152672,264236.890361,1
10170202,장례지도사 교육기관,2012-08-23,2,휴업,NaT,2020-11-01,2021-10-31,203454.483169,470784.877665,1
10170203,장례지도사 교육기관,2012-08-28,2,휴업,NaT,2014-11-18,2015-05-03,212747.738676,437624.480227,1
10170204,장례지도사 교육기관,2017-03-09,2,휴업,NaT,2022-07-29,2024-12-31,211661.387961,448108.985036,1

In [19]:
df_o

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y),기준
0,병원,1998-04-06,1.0,영업/정상,NaT,NaN,NaN,251238.161964,392372.936986,1
1,병원,1900-01-01,1.0,영업/정상,NaT,NaN,NaN,247129.428059,342190.514141,1
2,병원,2018-01-10,1.0,영업/정상,NaT,NaN,NaN,241784.339339,345686.547386,1
3,병원,1900-01-01,1.0,영업/정상,NaT,NaN,NaN,207545.431398,453474.58008,1
4,병원,2006-12-01,1.0,영업/정상,NaT,NaN,NaN,190648.410813,448737.352191,1
...,...,...,...,...,...,...,...,...,...,...
10222476,유료직업소개소,2016-02-22,1,영업/정상,NaT,NaN,NaN,338747.413019,218826.366519,1
10222477,유료직업소개소,2020-09-24,1,영업/정상,NaT,NaN,NaN,346207.242079,267170.951212,1
10222478,유료직업소개소,2010-03-25,1,영업/정상,NaT,NaN,NaN,356956.306291,260221.620511,1
10222479,유료직업소개소,2013-12-17,1,영업/정상,NaT,NaN,NaN,243005.406461,346313.472211,1
10222480,유료직업소개소,2003-05-07,1,영업/정상,NaT,NaN,NaN,NaN,NaN,1

In [20]:
df_c

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,좌표정보(x),좌표정보(y),기준
1922,병원,2015-09-09,3.0,폐업,2019-05-31,NaN,NaN,NaN,NaN,1
1923,병원,2008-11-05,3.0,폐업,2009-02-23,NaN,NaN,NaN,NaN,1
1924,병원,2012-05-25,3.0,폐업,2016-11-01,NaN,NaN,299970.331817,176114.707951,1
1925,병원,1977-11-16,3.0,폐업,2001-03-27,NaN,NaN,NaN,NaN,1
1926,병원,1999-11-10,3.0,폐업,2005-01-26,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
10222447,유료직업소개소,2022-05-23,3,폐업,2022-11-03,NaN,NaN,281283.986779,386913.445031,1
10222448,유료직업소개소,2022-05-23,3,폐업,2023-05-02,NaN,NaN,194713.075156,430364.386242,1
10222449,유료직업소개소,2022-05-17,3,폐업,2023-05-16,NaN,NaN,190237.009631,182319.686681,1
10222450,유료직업소개소,2021-04-30,3,폐업,2023-04-07,NaN,NaN,217009.264387,450997.279407,1
10222451,유료직업소개소,2022-05-23,3,폐업,2023-05-08,NaN,NaN,355099.363983,204974.358005,1

In [21]:
T = df_w.shape[0] + df_o.shape[0] + df_c.shape[0]
T == merged_df.shape[0]

True

In [22]:
df_o = df_o.groupby(['인허가일자', '개방서비스명'])['기준'].sum().unstack()
df_c = df_c.groupby(['폐업일자', '개방서비스명'])['기준'].sum().unstack()
df_rs = df_r.groupby(['휴업시작일자', '개방서비스명'])['기준'].sum().unstack()
df_rf = df_r.groupby(['휴업종료일자', '개방서비스명'])['기준'].sum().unstack()

In [23]:
df_o

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,...,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
인허가일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2023-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_c

개방서비스명,담배소매업,목욕장업,숙박업,석유판매업,일반음식점,집단급식소,이용업,휴게음식점,즉석판매제조가공업,약국,...,환경관리대행기관,요트장업,승강기제조및수입업체,일반야영장업,골프장,동물장묘업,동물미용업,동물위탁관리업,동물운송업,동물전시업
폐업일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,5.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961-07-11,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967-07-10,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967-09-28,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-09-04,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-29,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_rs

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건설폐기물처리업,게임물배급업,게임물제작업,계량기증명업,고압가스업,...,축산물운반업,축산판매업,출판사,치과기공소,통신판매업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,후원방문판매업체
휴업시작일자,,,,,,,,,,,,,,,,,,,,,
1111-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2025-05-20,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_rf

개방서비스명,담배소매업,방문판매업,약국,옥외광고업,쓰레기종량제봉투판매업,당구장업,체육도장업,축산가공업,수영장업,국내외여행업,...,영화상영업,동물미용업,환경관리대행기관,환경전문공사업,동물운송업,전문휴양업,치과기공소,동물장묘업,집유업,동물용의료용구판매업
휴업종료일자,,,,,,,,,,,,,,,,,,,,,
1111-11-11,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-07-24,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-08-19,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-05-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988-03-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3333-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999-12-30,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999-12-31,NaN,4.0,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_o.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19586 entries, 1900-01-01 to 2023-09-29
Columns: 177 entries, 가축분뇨 수집운반업 to 휴게음식점
dtypes: float64(177)
memory usage: 26.6 MB

In [28]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13879 entries, 1900-01-01 to 2023-10-01
Columns: 163 entries, 담배소매업 to 동물전시업
dtypes: float64(163)
memory usage: 17.4 MB

In [29]:
df_o = df_o.fillna(0)
df_c = df_c.fillna(0)
df_rs = df_rs.fillna(0)
df_rf = df_rf.fillna(0)
df_o = df_o.astype(int)
df_c = df_c.astype(int)
df_rs = df_rs.astype(int)
df_rf = df_rf.astype(int)

In [30]:
df_o

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,...,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
인허가일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,0,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,0,0
1900-01-09,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1900-03-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900-10-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,0,0,0,0,0,0,0,0,0,0,...,0,13,0,0,0,0,0,0,0,1
2023-09-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-29,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [31]:
df_c

개방서비스명,담배소매업,목욕장업,숙박업,석유판매업,일반음식점,집단급식소,이용업,휴게음식점,즉석판매제조가공업,약국,...,환경관리대행기관,요트장업,승강기제조및수입업체,일반야영장업,골프장,동물장묘업,동물미용업,동물위탁관리업,동물운송업,동물전시업
폐업일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1961-07-11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1967-07-10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1967-09-28,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1969-09-04,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-29,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-10-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df_rs

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건설폐기물처리업,게임물배급업,게임물제작업,계량기증명업,고압가스업,...,축산물운반업,축산판매업,출판사,치과기공소,통신판매업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,후원방문판매업체
휴업시작일자,,,,,,,,,,,,,,,,,,,,,
1111-11-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986-05-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986-06-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986-09-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1987-03-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-12-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2024-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2025-05-20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2030-07-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df_rf

개방서비스명,담배소매업,방문판매업,약국,옥외광고업,쓰레기종량제봉투판매업,당구장업,체육도장업,축산가공업,수영장업,국내외여행업,...,영화상영업,동물미용업,환경관리대행기관,환경전문공사업,동물운송업,전문휴양업,치과기공소,동물장묘업,집유업,동물용의료용구판매업
휴업종료일자,,,,,,,,,,,,,,,,,,,,,
1111-11-11,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986-07-24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1986-08-19,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1987-05-30,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1988-03-30,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3333-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999-01-01,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9999-09-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999-12-30,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999-12-31,0,4,0,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_o.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_o_new.csv')
df_c.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_c_new.csv')
df_rs.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_rs_new.csv')
df_rf.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_rf_new.csv')