In [1]:
import os
import pandas as pd

input_folder = 'C:/Users/Edward/Desktop/LOCALDATA_ALL_CSV/'
output_file = 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/merged_and_filtered.csv'
columns_to_extract = [1, 5, 7, 8, 11, 26, 27]  # 0부터 시작하는 인덱스

merged_data = pd.DataFrame()

csv_files = [f for f in os.listdir(input_folder) if f.endswith('.csv')]

for csv_file in csv_files:
    csv_path = os.path.join(input_folder, csv_file)
    data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
    merged_data = pd.concat([merged_data, data], ignore_index=True)

# 2번 열에서 중복 값이 1개만 있는 행만 선택
merged_data = merged_data[~(merged_data.duplicated(subset=merged_data.columns[1], keep=False) & 
                           ~merged_data.duplicated(subset=merged_data.columns[1], keep='first'))]

merged_data.to_csv(output_file, encoding='utf-8', index=False)

print(f"모든 CSV 파일이 통합되어 '{output_file}'에 저장되었습니다.")

C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\3002327578.py:14: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')

모든 CSV 파일이 통합되어 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/merged_and_filtered.csv'에 저장되었습니다.

In [2]:
merged_file_path = 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/merged_and_filtered.csv'  # 통합된 CSV 파일의 경로

# CSV 파일을 읽어 DataFrame으로 로드
merged_df = pd.read_csv(merged_file_path)

# DataFrame의 처음 몇 개 행 출력
merged_df.info()

C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\2638055956.py:4: DtypeWarning: Columns (2,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(merged_file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10171930 entries, 0 to 10171929
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     object
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      object
 5   좌표정보(x)   object
 6   좌표정보(y)   object
dtypes: object(7)
memory usage: 543.2+ MB

In [3]:
merged_data['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', ' Funny 바둑이(퍼니 바둑이)',
       '청소년게임제공업', ' ', '27', '공연장', '관광공연장업', '관광극장유흥업', '관광궤도업',
       '관광사업자', '관광유람선업', '국제회의시설업', '박물관, 미술관', '시내순환관광업', '유원시설업(기타)',
       '일반유원시설업', '전문휴양업', '전통사찰', 'N', ' 예전에 이물을 바르고 백일', nan, ' 요사',
       ' 부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다."',
       ' 고려 정종 원년(946년)에 선각대사가 삼창하고 "모옥사" 라 개칭 하였으며',
       ' 조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며',
       ' 일본의 자료에 의하면 "대한제국때', '종합유원시설업', '종합휴양업', '지방문화원', '국제회의기획업',
       '대중문화예술기획업', '문화예술법인', ' 고아원', ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       ' 2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것"', '노래연습장업', '비디오물감상실업',
       '비디오물배급업', '비디오물소극장업', '비디오물시청제공업', '비디오물제작업', '관광숙박업', '관광펜션업',
       '숙박업', '외국인관광도시민박업', '자동차야영장업', '한옥체험업', '일반야영장업', '농어촌민박업',
       '국내여행업', '국내외여행업', '종합여행업', '영화배급업', '영화상영관', '영화상영업', '영화수입업',
       '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업', '음반.음악영상물제작업', '음반물배급업',
       '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업', '이용업', '세탁업', '의료기관세탁물처리업',
       '위탁급식영업', '집단급식소', '집단급식소식품판매업', '건강기능식품유통전문판매업', '건강기능식품일반판매업',
       '축산판매업', '축산가공업', '식육포장처리업', '식품냉동냉장업', '식품소분업', '식품운반업',
       '식품자동판매기업', '식품제조가공업', '식품첨가물제조업', '식품판매업(기타)', '옹기류제조업',
       '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업', '제과점영업', '즉석판매제조가공업', '집유업',
       '식용얼음판매업', '축산물보관업', '축산물운반업', '단란주점영업', '유흥주점영업', '관광식당',
       '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점', '휴게음식점', '대규모점포', '다단계판매업체',
       '방문판매업', '전화권유판매업', '통신판매업', '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업',
       '계량기수리업', '계량기수입업', '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업',
       '석유및석유대체연료판매업체', '석유판매업', '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체',
       '전력기술설계업체', '특정고압가스업', '지하수시공업체', '0', '지하수영향조사기관', '지하수정화업체',
       '가축분뇨 수집운반업', '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업',
       '건설폐기물처리업', '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '민방위대피시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체',
       '요양보호사교육기관', '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [4]:
merged_data['개방서비스명'].nunique()

211

In [5]:
del_df = merged_df[~merged_df.duplicated('개방서비스명', keep=False)]
del_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y)
913592,Funny 바둑이(퍼니 바둑이),NaN,NaN,NaN,NaN,NaN,NaN
962169,27,0,0.0,0,NaN,NaN,NaN
996628,예전에 이물을 바르고 백일,NaN,NaN,NaN,NaN,NaN,NaN
996630,요사,NaN,NaN,NaN,NaN,NaN,NaN
996947,"부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다.""",반룡사,NaN,NaN,NaN,NaN,NaN
997035,"고려 정종 원년(946년)에 선각대사가 삼창하고 ""모옥사"" 라 개칭 하였으며",NaN,NaN,NaN,NaN,NaN,NaN
997038,조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며,명부전,"요사채 등의 건물이 남아 있다.""",N,백련사,NaN,NaN
997096,"일본의 자료에 의하면 ""대한제국때",NaN,NaN,NaN,NaN,NaN,NaN
1005572,고아원,NaN,사단법인 안디옥,NaN,NaN,NaN,NaN
1008248,"2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것""",NaN,NaN,NaN,NaN,NaN,NaN
8922781,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
merged_df = merged_df[merged_df.duplicated('개방서비스명') | merged_df.duplicated('개방서비스명', keep=False)]
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,251238.161964467,392372.936986
1,병원,2006-12-01,1.0,영업/정상,NaN,190648.410812888,448737.352191
2,병원,2019-02-28,1.0,영업/정상,NaN,237330.535161418,415978.920146
3,병원,2019-02-14,1.0,영업/정상,NaN,155344.41809806,457.264438
4,병원,2022-04-26,1.0,영업/정상,NaN,174177.5186793,440066.646396
...,...,...,...,...,...,...,...
10171925,유료직업소개소,2016-02-22,1,영업/정상,NaN,338747.413019,218826.366519
10171926,유료직업소개소,2010-03-25,1,영업/정상,NaN,356956.306291,260221.620511
10171927,유료직업소개소,2013-12-17,1,영업/정상,NaN,243005.406461,346313.472211
10171928,유료직업소개소,2010-11-16,1,영업/정상,NaN,201952.625,445174.485
10171929,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN

In [7]:
merged_df['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', ' ', '공연장',
       '관광공연장업', '관광극장유흥업', '관광궤도업', '관광사업자', '관광유람선업', '국제회의시설업',
       '박물관, 미술관', '시내순환관광업', '유원시설업(기타)', '일반유원시설업', '전문휴양업', '전통사찰',
       'N', nan, '종합유원시설업', '종합휴양업', '지방문화원', '국제회의기획업', '대중문화예술기획업',
       '문화예술법인', ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       '노래연습장업', '비디오물감상실업', '비디오물배급업', '비디오물소극장업', '비디오물시청제공업',
       '비디오물제작업', '관광숙박업', '관광펜션업', '숙박업', '외국인관광도시민박업', '자동차야영장업',
       '한옥체험업', '일반야영장업', '농어촌민박업', '국내여행업', '국내외여행업', '종합여행업', '영화배급업',
       '영화상영관', '영화상영업', '영화수입업', '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업',
       '음반.음악영상물제작업', '음반물배급업', '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업',
       '이용업', '세탁업', '의료기관세탁물처리업', '위탁급식영업', '집단급식소', '집단급식소식품판매업',
       '건강기능식품유통전문판매업', '건강기능식품일반판매업', '축산판매업', '축산가공업', '식육포장처리업',
       '식품냉동냉장업', '식품소분업', '식품운반업', '식품자동판매기업', '식품제조가공업', '식품첨가물제조업',
       '식품판매업(기타)', '옹기류제조업', '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업',
       '제과점영업', '즉석판매제조가공업', '집유업', '식용얼음판매업', '축산물보관업', '축산물운반업',
       '단란주점영업', '유흥주점영업', '관광식당', '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점',
       '휴게음식점', '대규모점포', '다단계판매업체', '방문판매업', '전화권유판매업', '통신판매업',
       '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업', '계량기수리업', '계량기수입업',
       '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업', '석유및석유대체연료판매업체', '석유판매업',
       '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체', '전력기술설계업체', '특정고압가스업',
       '지하수시공업체', '지하수영향조사기관', '지하수정화업체', '가축분뇨 수집운반업',
       '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업', '건설폐기물처리업',
       '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '민방위대피시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체',
       '요양보호사교육기관', '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [8]:
threshold = 5  # 중복 개수의 임계값
counts = merged_df['개방서비스명'].value_counts()
values_to_keep = counts[counts <= threshold].index
df_filtered = merged_df[merged_df['개방서비스명'].isin(values_to_keep)]
df_filtered

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y)
962167,,NaN,NaN,NaN,NaN,NaN,NaN
962168,,NaN,NaN,NaN,NaN,NaN,NaN
1006570,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN
1006571,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN
1008245,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN
1008246,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
merged_df = merged_df.groupby('개방서비스명').filter(lambda x: len(x) > threshold)
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,251238.161964467,392372.936986
1,병원,2006-12-01,1.0,영업/정상,NaN,190648.410812888,448737.352191
2,병원,2019-02-28,1.0,영업/정상,NaN,237330.535161418,415978.920146
3,병원,2019-02-14,1.0,영업/정상,NaN,155344.41809806,457.264438
4,병원,2022-04-26,1.0,영업/정상,NaN,174177.5186793,440066.646396
...,...,...,...,...,...,...,...
10171925,유료직업소개소,2016-02-22,1,영업/정상,NaN,338747.413019,218826.366519
10171926,유료직업소개소,2010-03-25,1,영업/정상,NaN,356956.306291,260221.620511
10171927,유료직업소개소,2013-12-17,1,영업/정상,NaN,243005.406461,346313.472211
10171928,유료직업소개소,2010-11-16,1,영업/정상,NaN,201952.625,445174.485
10171929,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN

In [10]:
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

197
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' 'N' '종합유원시설업' '종합휴양업'
 '지방문화원' '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업'
 '비디오물소극장업' '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업'
 '자동차야영장업' '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업'
 '영화상영관' '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '민방위대피시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체'
 '요양보호사교육기관' '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [11]:
value_to_remove = 'N'
merged_df = merged_df[merged_df['개방서비스명'] != value_to_remove]
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

196
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' '종합유원시설업' '종합휴양업' '지방문화원'
 '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업' '비디오물소극장업'
 '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업' '자동차야영장업'
 '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업' '영화상영관'
 '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '민방위대피시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체'
 '요양보호사교육기관' '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [12]:
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,251238.161964467,392372.936986
1,병원,2006-12-01,1.0,영업/정상,NaN,190648.410812888,448737.352191
2,병원,2019-02-28,1.0,영업/정상,NaN,237330.535161418,415978.920146
3,병원,2019-02-14,1.0,영업/정상,NaN,155344.41809806,457.264438
4,병원,2022-04-26,1.0,영업/정상,NaN,174177.5186793,440066.646396
...,...,...,...,...,...,...,...
10171925,유료직업소개소,2016-02-22,1,영업/정상,NaN,338747.413019,218826.366519
10171926,유료직업소개소,2010-03-25,1,영업/정상,NaN,356956.306291,260221.620511
10171927,유료직업소개소,2013-12-17,1,영업/정상,NaN,243005.406461,346313.472211
10171928,유료직업소개소,2010-11-16,1,영업/정상,NaN,201952.625,445174.485
10171929,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN

In [13]:
merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')
merged_df['폐업일자'] = pd.to_datetime(merged_df['폐업일자'], errors='coerce')
merged_df.info()

C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\47564785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10171891 entries, 0 to 10171929
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     datetime64[ns]
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      datetime64[ns]
 5   좌표정보(x)   object
 6   좌표정보(y)   object
dtypes: datetime64[ns](2), object(5)
memory usage: 620.8+ MB

C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\47564785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['폐업일자'] = pd.to_datetime(merged_df['폐업일자'], errors='coerce')

In [14]:
merged_df['기준'] = 1

C:\Users\Edward\AppData\Local\Temp\ipykernel_2284\1606763235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['기준'] = 1

In [15]:
df_o = merged_df[merged_df['영업상태구분코드'] == 1]
df_c = merged_df[merged_df['영업상태구분코드'] == 3]
a = [1,3]
df_w = merged_df[~merged_df['영업상태구분코드'].isin(a)]

In [16]:
df_w

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y),기준
1810,병원,2007-06-08,4.0,취소/말소/만료/정지/중지,2020-06-05,163959.014908693,316236.234026,1
1811,병원,2011-02-21,4.0,취소/말소/만료/정지/중지,2022-06-21,187458.013247487,402973.650082,1
1812,병원,1981-11-13,4.0,취소/말소/만료/정지/중지,2015-05-29,NaN,NaN,1
1813,병원,2008-07-10,4.0,취소/말소/만료/정지/중지,2014-04-29,190817.205958582,185309.997897,1
1814,병원,2007-07-03,4.0,취소/말소/만료/정지/중지,2017-02-15,190463.629686845,184970.048838,1
...,...,...,...,...,...,...,...,...
10124044,유료직업소개소,2002-04-19,4,취소/말소/만료/정지/중지,NaT,150344.842108,363753.480762,1
10124045,유료직업소개소,2019-01-02,4,취소/말소/만료/정지/중지,2022-07-13,210268.023534,256157.437097,1
10124046,유료직업소개소,2018-12-20,4,취소/말소/만료/정지/중지,2019-05-30,213395.266626,364089.983008,1
10124047,유료직업소개소,2018-11-16,4,취소/말소/만료/정지/중지,2023-03-31,186229.048424,475487.258055,1
10124048,유료직업소개소,2021-05-04,4,취소/말소/만료/정지/중지,2022-07-07,138373.581371,129900.32617,1

In [17]:
df_o

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y),기준
0,병원,1998-04-06,1.0,영업/정상,NaT,251238.161964467,392372.936986,1
1,병원,2006-12-01,1.0,영업/정상,NaT,190648.410812888,448737.352191,1
2,병원,2019-02-28,1.0,영업/정상,NaT,237330.535161418,415978.920146,1
3,병원,2019-02-14,1.0,영업/정상,NaT,155344.41809806,457.264438,1
4,병원,2022-04-26,1.0,영업/정상,NaT,174177.5186793,440066.646396,1
...,...,...,...,...,...,...,...,...
10171925,유료직업소개소,2016-02-22,1,영업/정상,NaT,338747.413019,218826.366519,1
10171926,유료직업소개소,2010-03-25,1,영업/정상,NaT,356956.306291,260221.620511,1
10171927,유료직업소개소,2013-12-17,1,영업/정상,NaT,243005.406461,346313.472211,1
10171928,유료직업소개소,2010-11-16,1,영업/정상,NaT,201952.625,445174.485,1
10171929,유료직업소개소,2003-05-07,1,영업/정상,NaT,NaN,NaN,1

In [18]:
df_c

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,좌표정보(x),좌표정보(y),기준
1886,병원,2015-09-09,3.0,폐업,2019-05-31,NaN,NaN,1
1887,병원,2008-11-05,3.0,폐업,2009-02-23,NaN,NaN,1
1888,병원,2012-05-25,3.0,폐업,2016-11-01,299970.331817097,176114.707951,1
1889,병원,1977-11-16,3.0,폐업,2001-03-27,NaN,NaN,1
1890,병원,1999-11-10,3.0,폐업,2005-01-26,NaN,NaN,1
...,...,...,...,...,...,...,...,...
10171897,유료직업소개소,2022-05-23,3,폐업,2022-11-03,281283.986779,386913.445031,1
10171898,유료직업소개소,2022-05-23,3,폐업,2023-05-02,194713.075156,430364.386242,1
10171899,유료직업소개소,2022-05-17,3,폐업,2023-05-16,190237.009631,182319.686681,1
10171900,유료직업소개소,2021-04-30,3,폐업,2023-04-07,217009.264387,450997.279407,1
10171901,유료직업소개소,2022-05-23,3,폐업,2023-05-08,355099.363983,204974.358005,1

In [19]:
T = df_w.shape[0] + df_o.shape[0] + df_c.shape[0]
T == merged_df.shape[0]

True

In [20]:
print(df_c.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5135290 entries, 1886 to 10171901
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     datetime64[ns]
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      datetime64[ns]
 5   좌표정보(x)   object
 6   좌표정보(y)   object
 7   기준        int64
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 352.6+ MB
None

In [21]:
df_o = df_o.groupby(['인허가일자', '개방서비스명'])['기준'].sum().unstack()
df_c = df_c.groupby(['폐업일자', '개방서비스명'])['기준'].sum().unstack()

In [22]:
df_o

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,...,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
인허가일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
2023-07-31,NaN,NaN,6.0,1.0,NaN,1.0,108.0,5.0,7.0,NaN,...,1.0,685.0,2.0,1.0,1.0,4.0,6.0,NaN,2.0,147.0
2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_c

개방서비스명,담배소매업,목욕장업,숙박업,석유판매업,일반음식점,집단급식소,이용업,휴게음식점,즉석판매제조가공업,약국,...,환경관리대행기관,요트장업,승강기제조및수입업체,일반야영장업,골프장,동물장묘업,동물미용업,동물위탁관리업,동물운송업,동물전시업
폐업일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,5.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961-07-11,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967-07-10,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967-09-28,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969-09-04,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_o.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19557 entries, 1900-01-01 to 2023-08-04
Columns: 176 entries, 가축분뇨 수집운반업 to 휴게음식점
dtypes: float64(176)
memory usage: 26.4 MB

In [25]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13840 entries, 1900-01-01 to 2023-09-01
Columns: 162 entries, 담배소매업 to 동물전시업
dtypes: float64(162)
memory usage: 17.2 MB

In [30]:
df_o = df_o.fillna(0)
df_c = df_c.fillna(0)
df_o = df_o.astype(int)
df_c = df_c.astype(int)

In [31]:
df_o

개방서비스명,가축분뇨 수집운반업,가축분뇨배출시설관리업(사업장),가축사육업,가축인공수정소,개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,...,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경관리대행기관,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
인허가일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,0,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,0,0
1900-01-09,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1900-03-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1900-10-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-30,0,0,0,0,0,0,0,0,0,0,...,0,34,0,0,0,2,0,0,0,0
2023-07-31,0,0,6,1,0,1,108,5,7,0,...,1,685,2,1,1,4,6,0,2,147
2023-08-01,0,0,0,0,0,0,0,0,0,0,...,0,7,0,0,0,0,0,0,0,0
2023-08-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-08-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df_c

개방서비스명,담배소매업,목욕장업,숙박업,석유판매업,일반음식점,집단급식소,이용업,휴게음식점,즉석판매제조가공업,약국,...,환경관리대행기관,요트장업,승강기제조및수입업체,일반야영장업,골프장,동물장묘업,동물미용업,동물위탁관리업,동물운송업,동물전시업
폐업일자,,,,,,,,,,,,,,,,,,,,,
1900-01-01,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1961-07-11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1967-07-10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1967-09-28,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1969-09-04,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-08-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-08-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-08-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-09-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df_o.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_o_new.csv')
df_c.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/df_c_new.csv')